/* - - - - - - - - - - - - - */
/* F O N T S */
/* - - - - - - - - - - - - - */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* - - - - - - - - - - - - - */
/* R E S E T */
/* - - - - - - - - - - - - - */
html {
    box-sizing: border-box;
    font-size: 16px;    
    scroll-behavior: smooth;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
/* - - - - - - - - - - - - - */
/* G E N E R A L */
/* - - - - - - - - - - - - - */
body {
    font-family: Poppins, sans-serif;
    color: rgb(198, 198, 198);
}

nav.nav {
    position: fixed;
    top: 20px;
    left: 20px;
    a:is(:link, :visited) {
        border-radius: 50%;
        background-color: #fff6;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease-in;
        width: 40px;
        svg {
            width: 24px;
            transition: all 0.4s 0.2s ease-in;
        }
        &:hover {
            background-color: #fffc;
            svg {
                transform: scale(1.2);
            }
        }
    }
}
 

main {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100dvh;
 
    header.header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            text-align: center;
            border-bottom: 1px solid #ccc;
            color: #333;
            margin: 0;
        }
        h2 {
            font-size: 1.6rem;
            font-weight: 200;
        }
        figure {
            border-radius: 100%;
            border: 6px solid #fff9;
            height: 200px;
            width: 200px;
            display: flex;
            justify-content: center;
            img {
                border-radius: 50%;
                height: 190px;
                width: 200px;
                object-fit: cover;
                
            }
        }
        h3 {
            font-size: 1.6rem;
            font-weight: 300;
        }
    }
    section.section {
        margin-top: 1rem;
        border-radius: 6px;
        padding: 1rem;
        min-height: 30dvh;
        width: 400px;
        background-color: #0009;
        h3 {
            font-size: 1.6rem;
            border-bottom: 2px dotted #fff6;
        }
        p{
            text-align: justify;
            font-size: 1 rem;
        }
        p.example {
            color: #6aae11;
            margin-top: 0.4rem;
            font-size: 1.6rem;
        }
        xmp {
            background-color: #0009;
            border-radius: 6px;
            color: #6aae11;
            font-size: 1rem;
            padding: 10px 10px 20px 10px;
        }
    }
    menu.menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.6rem;
        a:is(:link, :visited) {
            background-color: rgba(218, 210, 210, 0.6);
            border-radius: 25px;
            color: #2b2929;
            display: flex;
            align-items: center;
            gap: 0.6rem;
            text-decoration: none;
            width: 220px;
            transition: all 0.2s ease-in;
            span {
               background-color:  #ac2f81;
               border: 2px solid #fff9;
               border-radius: 50%;
               color: #fff9;
               display: flex;
               justify-content: center;
               align-items: center;
               height: 40px;
               transition: all 0.4s ease-in;
               width: 40px;
            }
            &:hover span {
               border-radius: 50px;
               width: 60px;
            }
        }
    }
}
 
 

 
/* - - - - - - - - - - - - - */
/* M A I N   M E N U */
/* - - - - - - - - - - - - - */
body.main-menu {
    background-color: #330000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

/* - - - - - - - - - - - - - */
/* EMMET */
/* - - - - - - - - - - - - - */


body.emmet {
    background-color: #00bb77;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
    menu {
        a:is(:link, :visited) {
            color: rgb(69, 62, 62);
            span {
                background-color: #00bb77;
            }
        }
    }
    nav.nav {
        a {
            svg {
                fill:  #00bb77;
            }
        }
    }
    
}

/* - - - - - - - - - - - - - */
/* H T M L */
/* - - - - - - - - - - - - - */


body.html {
    background-color: #770c56;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%233f0026' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%234d0032' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%235b003d' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2369004a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23770C56' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    menu {
        a:is(:link, :visited) {
            color: rgb(69, 62, 62);
            span {
                background-color: #bb003b;
            }
        }
    }
    nav.nav {
        a {
            svg {
                fill:  #440149;
            }
        }
    }
    
}

body.jquery {
background-color: #0868AC;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%230868AC' width='11' height='11'/%3E%3Crect fill='%23006bae' x='10' width='11' height='11'/%3E%3Crect fill='%23006eaf' y='10' width='11' height='11'/%3E%3Crect fill='%230071b1' x='20' width='11' height='11'/%3E%3Crect fill='%230074b2' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%230077b4' y='20' width='11' height='11'/%3E%3Crect fill='%23007ab5' x='30' width='11' height='11'/%3E%3Crect fill='%23007db5' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%230080b6' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%230083b7' y='30' width='11' height='11'/%3E%3Crect fill='%230085b7' x='40' width='11' height='11'/%3E%3Crect fill='%230088b8' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23008bb8' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23008eb8' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%230090b8' y='40' width='11' height='11'/%3E%3Crect fill='%230093b8' x='50' width='11' height='11'/%3E%3Crect fill='%230096b7' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%230098b7' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23009bb7' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23009db6' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%2300a0b6' y='50' width='11' height='11'/%3E%3Crect fill='%2300a2b5' x='60' width='11' height='11'/%3E%3Crect fill='%2300a5b5' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%2300a7b4' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%2300a9b3' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%230facb2' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%231faeb2' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%232ab1b1' x='70' width='11' height='11'/%3E%3Crect fill='%2334b3b0' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%233cb5af' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%2344b7af' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%234cbaae' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%2353bcad' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%2359beac' x='80' width='11' height='11'/%3E%3Crect fill='%2360c0ac' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2367c2ab' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%236dc4ab' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%2373c6aa' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%2379c8aa' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%237fcaaa' x='90' width='11' height='11'/%3E%3Crect fill='%2385cca9' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%238bcea9' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%2391d0a9' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%2397d2a9' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%239dd4a9' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23a2d6aa' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23a8d8aa' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23aed9ab' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23b3dbab' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23b9ddac' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23bedfad' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23c4e0ae' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23c9e2af' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23cfe4b0' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23d4e6b2' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23d9e7b3' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23dfe9b5' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23e4ebb7' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23e9ecb9' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEB' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    menu {
        a:is(:link, :visited) {
            color: rgb(30, 29, 29);
            span {
                background-color: #0868AC;
            }
        }
    }
    nav.nav {
        a {
            svg {
                fill:  #0868AC;
            }
        }
    }
    
}
